*/target/*
/target/
*/test-output/*
/test-output/
*/test-results/*
/test-results/
*/.settings/*
/.settings/
.settings/*
*.settings
*/.classpath/*
/.classpath/
.classpath/*
*.classpath
*/.project/*
/.project
.project/*
*.project
/bin/

